.other-item{
	margin-bottom: 16px;
}
.other-item__title{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 8px;
	line-height: normal;
}
.other-item__subtitle {
	font-size: 18px;
	color: $basicText;
	line-height: normal;
	margin-bottom: 4px;
}

.other-item__description{margin-bottom: 8px;}
.other-item__description:last-of-type{margin-bottom: 0;}