h1.heading-1.apply-notify__title.
	Отклик отправлен работодателю
.text-action.text-action--notify.
	Работодатель свяжется с вами, если ваша кандидатура заинтересует его, а пока отправьте больше откликов, так вы скорее найдете работу.
+button('Вернуться к поиску', 'apply.html', 'btn-semi-rounded-blue')
