- var menuLinks = [{itemAddClass: "nav-menu-item-active", itemHref: "#apply-tabs__choose", itemName: "Выбрать резюме"},{itemAddClass: "", itemHref: "#apply-tabs__download ", itemName: "Загрузить резюме"}];

.apply-header
	.apply-header__title.
		Откликнуться на вакансию «Дизайнер мобильных приложений»
	.apply-header__menu
		+nav-menu(menuLinks)(id="apply-header-menu")