- var BadgesItems  = [{number:'1234', text:'Автомобильный бизнес'}, {number:'98', text:'Банки'}, {number:'87', text:'Продажи'}, {number:'43', text:'Информационные технологии, Интернет, Связь'}, {number:'67', text:'Производство'}, {number:'76', text:'Юристы'}, {number:'89', text:'Рабочие специальности'}]; 

+badges-counter('areas', BadgesItems)