.autocomplete
	.autocomplete__input-wrapper
		input.autocomplete__input
	.autocomplete__result
		+autocomplete__result-item( 'icon-place', 'Кировский', 'Ленинградская область, Россия' )
		+autocomplete__result-item( 'icon-metro', 'Кировский завод', 'Санкт-Петербург, станция метро' )
		+autocomplete__result-item( 'icon-place', 'Кировский', 'Приморский край, Россия' )
		+autocomplete__result-item( '', 'Кировский', 'Приморский край, Россия' )
		