- var reviewItem_2 = {display: 'rating-like--visible',avatarLetter: 'ВИ', topText: 'Константин', bottomText: '21 сентября 2018' ,ratingType: 'like' , likeCount:'345', dislikeCount:'652', text: 'Работаю в компании 2 года, работал изначально в ночь и меня все устраивало, потом ночи убрали ну да ладно. Устраивался на работу потому что там график как говорили будут подстраивать под тебя 2/2 , 3/2. Все хорошо, но в один прекрасный день пришел новый директор и зам. И график просто убили, люди начали увольняться , но увы лента не держится за сотрудников. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi commodi eveniet provident atque dolores debitis qui necessitatibus amet repellendus facere. '};
			
.block-company-reviews
	.block-company-reviews__title Отзывы
	+company-review(reviewItem_2)
	+company-review(reviewItem_2)
	+company-review(reviewItem_2)
	+button('Читать все 123 отзыва', '#!').text-action.read-all-reviews