- var dataRowHead = {modif: 'table-item--header'};
- var dataRowObj = {personData:{topText:'Константин Константиноп',bottomText:'Senior Front-end Developer',avatarImg:'company-photo.jpg'},personPhone: '+7(982) 555-22-44',personMail:'kkkonstant@test.com',statusData:{markerColor:'statusLightBlue',statusText: 'Согласование'},statusId:'098765', vacancyName:'Fullstack Developer Ruby/React', vacancyCity: 'Санкт-Петербург', recruterName:'Рейн Олафсен',ratingData:{value:'',color:'#1878FF', items:["full", "full", "full", "full", "empty"]}};

- var dataRowObj2 = {personData:{topText:'Константин Константинопольский',bottomText:'Senior Front-end Developer',avatarLetter:'LB'},personPhone: '+7(982) 555-22-44',personMail:'kkkonstantinopolskiy@test.com',statusData:{markerColor:'statusBlue',statusText: 'Собеседование'},statusId:'098765', vacancyName:'Fullstack Developer Ruby/React', vacancyCity: 'Санкт-Петербург', recruterName:'Рейнхард Олафсен',ratingData:{value:'',color:'#1878FF', items:["full", "full", "full", "half", "empty"]}}


.table
	+table-row-large(dataRowHead)
	+table-row-large(dataRowObj)
	+table-row-large(dataRowObj2)
	+table-row-large(dataRowObj)
	+table-row-large(dataRowObj2)
	+table-row-large(dataRowObj)
	+table-row-large(dataRowObj2)