.companies-slider-wrapper
	.companies-slider
		.companies-slider__item
			+companies-vip-company("kontur.svg", 100, "123 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("tinkoff.svg", 100, "98 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("megafon.svg", 100, "98 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("alfabank.svg", 100, "98 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("kontur.svg", 100, "123 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("kontur.svg", 100, "123 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("tinkoff.svg", 100, "98 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("megafon.svg", 100, "98 Вакансии", " ~ з/п 100 000 Р")
		.companies-slider__item
			+companies-vip-company("kontur.svg", 100, "123 Вакансии", " ~ з/п 100 000 Р")
	+slider-arrow.slider-arrow--companies