.company-about
	h2.company-about__title.heading-2 О компании

	.company-about__text-block
		p.
			Компания «МИР недвижимости»  занимает лидирующие позиции в сфере продаж строящегося жилья Санкт-Петербурга. Мы являемся стратегическими партнерами и лучшим отделом продаж по версии компаний ЛСР, Северный Город и других ведущих застройщиков города.
		p.
			Мы создаем собственные креативные идеи во всех направлениях своего бизнеса, в связи с этим мы успешнее и быстрее других реагируем на изменчивую ситуацию в экономике;
			За 8 лет успешной работы компании, мы продаем порядка 100 000 м2 жилья ежегодно;
			Тысячи семей из разных городов России, приобретают недвижимость Санкт-Петербурга благодаря нашей компании; Наш ипотечный центр признан лучшим партнером Сбербанка в России в 2014, 2015 и 2016 годах;
		p.
			Мы являемся стратегическими партнерами и лучшим отделом продаж, по версии компании ЛСР, Северный Город и других ведущих застройщиков города Санкт-Петербурга;
			Наши сотрудники - это сплоченная команда профессионалов, ориентированных на результат и личностный рост;
		p.
			Мы ценим каждого сотрудника, уважая в нем личность, профессионала и коллегу;
			У нас создан собственный обучающий центр и система наставничества для подготовки Специалистов по продажам первичной недвижимости, в связи с этим нашим кандидатам не обязательно иметь опыт продаж в сфере недвижимости.