.company-contact-person
	.company-contact-person__title Контактное лицо
	+avatar-block('ВИ', 'Старший рекрутер').company-contact-person__show
	+button('Показать контакты', '#window-modal').modal-window-button