.input-container__dropdown.input-container__dropdown--history
	ul.input-container__dropdown-title
		p Ранее вы искали
		li.input-container__dropdown-item
			span дизайнер + чкаловская + полны...
			span.input-container__dropdown-item--right Вакансии
		li.input-container__dropdown-item
			span дизайнер
			span.input-container__dropdown-item--right Вакансии
		li.input-container__dropdown-item
			span Информационные технологии
			span.input-container__dropdown-item--right Отрасль
		li.input-container__dropdown-item
			span дизайн — Информационные т...
			span.input-container__dropdown-item--right Вакансии
		li.input-container__dropdown-item
			span дизайнер — Яндекс
			span.input-container__dropdown-item--right Вакансии
.input-container__dropdown.input-container__dropdown--search
	ul.input-container__dropdown-title
		p Вакансии
		li.input-container__dropdown-item
			span Дизайнер
			span.input-container__dropdown-item--right 1234 вакансии
		li.input-container__dropdown-item
			span Веб-дизайнер
			span.input-container__dropdown-item--right 567 вакансий
		li.input-container__dropdown-item
			span UI/UX дизайнер
			span.input-container__dropdown-item--right 890 вакансий
		p Отрасли
		li.input-container__dropdown-item
			span Информационные техноло...
			span.input-container__dropdown-item--right 1234 вакансии
		li.input-container__dropdown-item
			span Маркетинг / Реклама / PR
			span.input-container__dropdown-item--right 567 вакансий
		li.input-container__dropdown-item
			span Искусство / Развлечения /...
			span.input-container__dropdown-item--right 890 вакансий
		p Компании
		li.input-container__dropdown-item
			span Альфа-Банк
			span.input-container__dropdown-item--right 4 вакансии
		li.input-container__dropdown-item
			span Мегафон
			span.input-container__dropdown-item--right 7 вакансий
		li.input-container__dropdown-item
			span Яндекс
			span.input-container__dropdown-item--right 9 вакансий