.bg-lightbox
	.lightbox__close-button
		+icon-close(class="icon-close--absolute")
	.lightbox-container
		
		+lightbox-item('sample1.jpg', 'Название фото/документа')
		+lightbox-item('sample1.jpg', 'Название фото/документа')
					
	.lightbox__navigation
		+arrow--custom.arrow--left
		+arrow--custom.arrow--right

