- var lkTitleBlock = {breadcrumb:['Главная','Личный кабинет'], title:'Вакансии в Санкт-Петербург',vacancySerp:['9522 вакансии'], btnGroup:{text:'Добавить вакансию', link:'#', modify:'btn-semi-rounded-blue'},  tagFilters:{item1:['Грузчик'],item2: ['Санкт-Петербург']}};

+lk-title-block(lkTitleBlock)(class="lk-title-block--vacancies")