- var dataIndicator = [{param1:'height:35px',param2:'height:25px'},{param1:'height:25px',param2:'height:20px'},{param1:'height:35px',param2:'height:15px'},{param1:'height:35px',param2:'height:25px'},{param1:'height:15px',param2:'height:10px'},{param1:'height:25px',param2:'height:15px'},{param1:'height:15px',param2:'height:5px'}]


+tooltip('top', '08 Декабря 2018 Просмотры: 21, Отклики: 16')
	+indicator(dataIndicator)