//- Выпадающее меню из логотипа
.logo-menu-dropdown.logo-menu-dropdown--authorize
		.logo-menu-dropdown-block
			ul.logo-menu-dropdown__title Соискателю
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Создать резюме
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Поиск работы
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Каталог компаний
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Продвижение резюме
			.logo-menu-dropdown__devide
		.logo-menu-dropdown-block
			ul.logo-menu-dropdown__title Работодателю
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Разместить вакансию
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Поиск сотрудника
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Тарифы
			.logo-menu-dropdown__devide
		.logo-menu-dropdown-block
			ul.logo-menu-dropdown__title Сервисы
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Производственный календарь
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Должностные инструкции
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Статистика ЗП
			.logo-menu-dropdown__devide
		.logo-menu-dropdown-block.logo-menu-dropdown-block__desktop
			ul.logo-menu-dropdown__title Rabotavgorode
					li.logo-menu-dropdown__item
						a.logo-menu-dropdown__link(href="") О нас
					li.logo-menu-dropdown__item
						a.logo-menu-dropdown__link(href="") Наши вакансии
					li.logo-menu-dropdown__item
						a.logo-menu-dropdown__link(href="") Блог
					li.logo-menu-dropdown__item
						a.logo-menu-dropdown__link(href="") Реклама на сайте
			ul.logo-menu-dropdown__title.logo-menu-dropdown__second
					li.logo-menu-dropdown__item
						a.logo-menu-dropdown__link(href="") API
					li.logo-menu-dropdown__item
						a.logo-menu-dropdown__link(href="") Правила работы с сайтом
					li.logo-menu-dropdown__item
						a.logo-menu-dropdown__link(href="") Контакты
			.logo-menu-dropdown__devide
		.logo-menu-dropdown-block
			ul.logo-menu-dropdown__title-support
				li.logo-menu-dropdown__item
					a.logo-menu-dropdown__link(href="") Служба поддержки
			.logo-menu-dropdown__devide
		.logo-menu-dropdown-block.logo-menu-dropdown-block__social-icon
			.logo-menu-dropdown__social-icon
				.logo-menu-dropdown__social-icon-item
					+vk-grey('#999999')
				.logo-menu-dropdown__social-icon-item
					+fb-grey('#999999')
				.logo-menu-dropdown__social-icon-item
					+instgr('#999999')
				.logo-menu-dropdown__social-icon-item
					+tweet('#999999')