//- Выпадающее меню из логотипа 
.main-menu
	.main-menu-block
		ul.main-menu__title Соискателю
			li.main-menu__item
				a.main-menu__link(href="") Создать резюме
			li.main-menu__item
				a.main-menu__link(href="") Поиск работы
			li.main-menu__item
				a.main-menu__link(href="") Каталог компаний
			li.main-menu__item
				a.main-menu__link(href="") Продвижение резюме
		.main-menu__devide
	.main-menu-block
		ul.main-menu__title Работодателю
			li.main-menu__item
				a.main-menu__link(href="") Разместить вакансию
			li.main-menu__item
				a.main-menu__link(href="") Поиск сотрудника
			li.main-menu__item
				a.main-menu__link(href="") Тарифы
		.main-menu__devide
	.main-menu-block
		ul.main-menu__title Сервисы
			li.main-menu__item
				a.main-menu__link(href="") Производственный календарь
			li.main-menu__item
				a.main-menu__link(href="") Должностные инструкции
			li.main-menu__item
				a.main-menu__link(href="") Статистика ЗП
		.main-menu__devide
	.main-menu-block.main-menu-block__desktop
		ul.main-menu__title Rabotavgorode
				li.main-menu__item
					a.main-menu__link(href="") О нас
				li.main-menu__item
					a.main-menu__link(href="") Наши вакансии
				li.main-menu__item
					a.main-menu__link(href="") Блог
				li.main-menu__item
					a.main-menu__link(href="") Реклама на сайте
		ul.main-menu__title.main-menu__second
				li.main-menu__item
					a.main-menu__link(href="") API
				li.main-menu__item
					a.main-menu__link(href="") Правила работы с сайтом
				li.main-menu__item
					a.main-menu__link(href="") Контакты
		.main-menu__devide
	.main-menu-block
		ul.main-menu__title-support
			li.main-menu__item
				a.main-menu__link(href="") Служба поддержки
		.main-menu__devide
	.main-menu-block.main-menu-block__social-icon
		.main-menu__social-icon
			.main-menu__social-icon-item
				+vk-grey('#999999')
			.main-menu__social-icon-item
				+fb-grey('#999999')
			.main-menu__social-icon-item
				+instgr('#999999')
			.main-menu__social-icon-item
				+tweet('#999999')