-var pageBtns = {btn1:{href:'#', class1: '', class2: '', text: '1'}, btn2:{href:'#', class1: 'page-toggle__item-active', class2: '', text: '2'}, btn3:{href:'#', class1: '', class2: 'page-toggle__item--before', text: '3'}, btn4: {href:'#', class1: 'pagination__span', class2: '', text: '...'}, btn5:{href:'#', class1: '', class2: '', text: '15'}, btn6:{href:'#', class1: '', class2: 'page-toggle__item--before', text: '16'}, btn7:{href:'#', class1: '', class2: 'pagination__span', text: '...'}, btn8:{href:'#', class1: '', class2: '', text: '999'}};


		
+pagination(pageBtns)