form.authorization-form(action="" method="")
	.recover-block.recover-block--email
		.recover-block-text.text-body.
			 Придумайте новый пароль для входа в личный кабинет
		.form-block
			form.authorization-form(action="" method="")
				+inputPass('input-new-pass', 'password', 'input-new-pass', 'checkField', 'Введите новый пароль', 'Вы ничего не ввели').mb-15
				+inputPass('input-pass', 'password', 'input-pass', 'pass', 'Повторите пароль', 'Пароль введен неверно')

		+button('Создать новый пароль', '#', 'btn-semi-rounded-blue').mt-20