form.authorization-form(action="" method="")
	.recover-block.recover-block--email
		.recover-block-text.text-body Введите электронную почту или номер телефона указанный при регистрации.
		.input-wrapper
			+inputField('input-checkfield', 'text', 'input-checkfield', 'checkField', 'Введите номер телефона', 'Не найдено аккаунтов связанных с указанным номером телефона')
			
		+button('Восстановить пароль', 'recovery-password-reset.html', 'btn-semi-rounded-blue').recover-block-btn