form.authorization-form(action="" method="")
	.recover-block.recover-block--email
		.recover-block-text.text-body Ссылка на сброс пароля отправлена. Пожалуйста, проверьте свою почту, чтобы продолжить.
		+button('Вернуться на страницу входа', 'auth-autorization.html', 'btn-semi-rounded-blue').recover-block-btn