.page-section#resume-other
	.section-title Другое

	.other-item
		.other-item__title Иностранные языки
		.other-item__subtitle Английский
		.other-item__description.text-body-grey Общаюсь на профессиональные темы
	
		.other-item__subtitle Немецкий
		.other-item__description.text-body-grey Базовые знания

	.other-item
		.other-item__title Водительские права
		.other-item__subtitle Права категории &#149; Есть автомобиль

	.other-item
		.other-item__title Командировки		
		.other-item__subtitle Готов к командировкам &#149; Готов к командировкам