- var educationCard = {period: '2005-2009', titleSplit:{modif:'education-title', items:['Специальность', 'Бакалавр']}, educationInfo:{modif:'education-type', items:['Учебное заведение', 'Высшее'] }, text:'Изучаемые дисциплины и прочее, их потребности и находить возможности для решения их практических задач.'};

.page-section#resume-education
	.section-title Образование
	+education-card(educationCard)
	+education-card(educationCard)
	+education-card(educationCard)
	+education-card(educationCard)
	+education-card(educationCard)