.page-section.portfolio-wrapper
	.section-title Портфолио

	.portfolio
		+portfolio-item('#','test1.jpg','Название проекта')
		+portfolio-item('#','test3.jpg','Название проекта')
		+portfolio-item('#','test1.jpg','Название проекта')
		+portfolio-item('#','test1.jpg','Название проекта')
		+portfolio-item('#','test3.jpg','Название проекта')
		+portfolio-item('#','test1.jpg','Название проекта')
		+portfolio-item('#','test1.jpg','Название проекта')
		+portfolio-item('#','test3.jpg','Название проекта')
		+portfolio-item('#','test1.jpg','Название проекта')
	+button('Смотреть все', '#', 'btn-link text-action')