.page-section
	.section-title Похожие резюме
	+resume-card(resumeCard, 'list')
	+resume-card(resumeCard, 'list')
	+resume-card(resumeCard, 'list')
	+resume-card(resumeCard, 'list')
	+resume-card(resumeCard, 'list')
	+resume-card(resumeCard, 'list')