.page-section#resume-about
	.resume-about
		p.
			Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность.