- var badgesBlock = {title: 'Резюме по общему признаку',Items:[{text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}, {text:'Длинныйтэг',modif: 'skill'}], btnText:'Смотреть все', btnClass:'btn-link btn--badges-skill'};

.page-section
	.resume__tags-block
		+badges-block(badgesBlock)