.search-resume-card-info
	include ../sections/_search-resume__view-resume-header.pug
	+nav-menu(deskriptionLinks)(id="resume-description-nav-menu" class="search-resume-header-menu link--employer")
	.search-resume-header-tabs-container#search-resume-header-tabs-container
		//- Вкладка О себе
		.search-resume-tabs__about#search-resume-tabs__about
			p.search-resume-text Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. Веду переговоры и заключаю договоры с заказчиком, проводил согласования с городскими инстанциями, обеспечивал технологическую подготовку Заказа к передаче на производство, проектировал сложные рекламоносители, выполнял чертежи и схемы для производства и монтажников, вел отчетность. 

		//- Вкладка Опыт
		.search-resume-tabs__experience#search-resume-tabs__experience
			p Вкладка Опыт

		//- Вкладка Образование
		.search-resume-tabs__education#search-resume-tabs__education
			p Вкладка Образование

		//- Вкладка Другое
		.search-resume-tabs__anouther#search-resume-tabs__another
			p Вкладка Другое