.social-block
	.social-block__top или
.autorization-social-block
	.social-block__title Зарегистрироваться через соц.сети
	.social-icons
		a.icon-vk.icon-social(href="auth-registration-social.html")
			+icon-vk('auth-registration-social.html')
		a.icon-fb.icon-social(href="auth-registration-social.html")
			+icon-fb('auth-registration-social.html')
		a.icon-ok.icon-social(href="auth-registration-social.html")
			+icon-ok('auth-registration-social.html')
		a.icon-gu.icon-social(href="auth-registration-social.html")
			+gdeuslugi('#')