- var rowItemHeader = {modif: 'table-item--header', itemId:'id', itemTitle:'Название', cityName:'Город', date:'Дата', itemStatus:'Статус',  itemResume: 'Резюме', itemRecruiter:'Рекрутер',  itemIndicator:'Статистика'};

- var rowItem1 = {modif: '', itemId:'50086', itemTitle:'Fullstack Developer Ruby/React', cityName:'Санкт-Петербург', date:'19.10.18, 20:37', itemStatus:'Открыто',  itemResume:{ param1:'589',param2:'9' }, itemRecruiter:'Рейнхард Олафсен', actionIcons:[	{toolData:{type:'bottom', text:'Обновить'}, icName:'ic-refresh'},{toolData:{type:'bottom', text:'Копировать'}, icName:'ic_copy', },{toolData:{type:'bottom', text:'Снять с публикации'}, icName:'ic-eye', },{toolData:{type:'left', text:'Повысить эффективность'}, icName:'icon-star-custom', }], itemIndicator:{tooltype:'top',tooltext:'08 Декабря 2018.Просмотры: 21, Отклики: 16', value: [{param1:'height:35px',param2:'height:25px'},{param1:'height:25px',param2:'height:20px'},{param1:'height:35px',param2:'height:15px'},{param1:'height:35px',param2:'height:25px'},{param1:'height:15px',param2:'height:10px'},{param1:'height:25px',param2:'height:15px'},{param1:'height:15px',param2:'height:5px'}]}};
			
.table
	+table-row(rowItemHeader)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	+table-row(rowItem1)
	//- +table-row(rowItem1)
	//- +table-row(rowItem1)
	//- +table-row(rowItem1)
	//- +table-row(rowItem1)
	//- +table-row(rowItem1)
