- var tableDropdown = {modif: '', Items:[{boxModif: '', icName:'ic_copy', icText:'Дублировать'},{boxModif: 'icon-star', icName:'icon-star-custom', icText:'Повысить эффективность'}, {boxModif: '', icName:'icon-looks-two', icText:'Найти похожие резюме'},{boxModif: '', icName:'ic-refresh',  icText:'Обновить'},{boxModif: '', icName:'ic-eye', icText:'В архив'}]}


+dropdown-icons(tableDropdown)