.company-vacancies-region
	.company-vacancies-region__title Вакансии компании в текущем регионе
	+company-vacancy-card(true, 'Ассистент отдела недвижимости', 'до 35 000 руб.')
	+company-vacancy-card(true, 'Директор по маркетингу', 'з/п не указана')
	+company-vacancy-card(true, 'Личный помощник Генерального Директора', 'до 60 000 руб.')
	+company-vacancy-card(true, 'Менеджер по продажам первичной недвижимости', 'от 85 000 до 255 000 руб')
	+company-vacancy-card(true, 'Руководитель направления продаж недвижимости', 'от 40 000 до 90 000 руб')

	+button('Смотреть все вакансии', '#!')