.footer
	.footer-block
		ul.footer__title Соискателю
			li.footer__item
				a.footer__link(href="") Создать резюме
			li.footer__item
				a.footer__link(href="") Поиск работы
			li.footer__item
				a.footer__link(href="") Каталог компаний
			li.footer__item
				a.footer__link(href="") Продвижение резюме
	.footer-block
		ul.footer__title Работодателю
			li.footer__item
				a.footer__link(href="") Разместить вакансию
			li.footer__item
				a.footer__link(href="") Поиск сотрудника
			li.footer__item
				a.footer__link(href="") Тарифы
	.footer-block
		ul.footer__title Сервисы
			li.footer__item
				a.footer__link(href="") Производственный календарь
			li.footer__item
				a.footer__link(href="") Должностные инструкции
			li.footer__item
				a.footer__link(href="") Статистика ЗП
	.footer-block.footer-block--ipad.footer-block--desktop
		ul.footer__title.footer__first-block Rabotavgorode
				li.footer__item
					a.footer__link(href="") О нас
				li.footer__item
					a.footer__link(href="") Наши вакансии
				li.footer__item
					a.footer__link(href="") Блог
				li.footer__item
					a.footer__link(href="") Реклама на сайте
		ul.footer__title.footer__second-block
				li.footer__item
					a.footer__link(href="") API
				li.footer__item
					a.footer__link(href="") Правила&nbsp;работы&nbsp;с&nbsp;сайтом
				li.footer__item
					a.footer__link(href="") Контакты
	.footer-block.footer-block__support
		ul.footer__title-support
			li.footer__item.footer__link--special
				a.footer__link(href="") Служба поддержки
	.footer-block.footer-block__social-icon
		.footer__social-icons-item
			+vk-grey('#999999')
		.footer__social-icons-item
			+fb-grey('#999999')
		.footer__social-icons-item
			+instgr('#999999')
		.footer__social-icons-item
			+tweet('#999999')
