.left-panel.blue-skin#ui-navifation
	.content-wrapper
		.left-panel__section
			.title-2 UI-KIT и PUG фреймворк

		.left-panel__section
			p.strong Документация
			.left-panel-nav
				+linkLeftPanel("Документация", "docs.html")
				+linkLeftPanel("Оформление кода", "docs-codestyle.html")
				+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
				+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
				+linkLeftPanel("Workflow", "docs-workflow.html")
				+linkLeftPanel("Требования заказчика", "docs-customer-reqiuriements.html")

		.left-panel__section
			p.strong База
			.left-panel-nav
				+linkLeftPanel("Сетка", "grid.html")
				+linkLeftPanel("Цвета", "colors.html")
				+linkLeftPanel("Типографика", "typografy.html")
				+linkLeftPanel("Хлебные крошки", "breadcrumb.html")
				+linkLeftPanel("Элементы", "elements.html")
				+linkLeftPanel("Бейджи", "badges.html")
				+linkLeftPanel("Пагинация", "pagination.html")
				+linkLeftPanel("Иконки", "icons-svg.html")
				+linkLeftPanel("Модальное окно", "modal-window.html")
				+linkLeftPanel("Tooltip", "tooltip.html")
				+linkLeftPanel("Lightbox для фотографий", "lightbox.html")
				
				

		.left-panel__section
			p.strong Формы
			.left-panel-nav
				+linkLeftPanel("Кнопки", "buttons.html")
				+linkLeftPanel("Радио кнопки", "radio-button.html")
				+linkLeftPanel("Чекбоксы", "checkbox.html")
				+linkLeftPanel("Инпуты", "input.html")
				+linkLeftPanel("Textarea", "textarea.html")
				+linkLeftPanel("Поиск (autocomplete)", "autocomplete.html")
				+linkLeftPanel("Строка поиска", "search-form.html")


		.left-panel__section
			p.strong Блоки - Кандидаты
			.left-panel-nav
				+linkLeftPanel("Preview - Title-block", "preview-title-block__candidate.html")
				+linkLeftPanel("Таблица", "candidates__table.html")
				+linkLeftPanel("Дата и время", "data-time-choose.html")
				+linkLeftPanel("Выпадашка 'Изменить статус'", "dropdown-select.html")
				+linkLeftPanel("Изменить статус", "candidates__change_status.html")
		
		.left-panel__section
			p.strong Блоки - Вакансии
			.left-panel-nav
				+linkLeftPanel("Preview - Title-block", "preview-title-block__vacancy.html")
				+linkLeftPanel("Таб 'Услуги' - Карточка", "vacancies__tab-service-card.html")
				+linkLeftPanel("Таб 'История' - Карточка", "vacancies__tab-history-card.html")
				+linkLeftPanel("Таб 'Отлики' - Карточка", "vacancies__tab-response-card.html")
				+linkLeftPanel("Таблица", "table.html")

		
		.left-panel__section
			p.strong Блоки - ЛК - Работодателя
			.left-panel-nav
				+linkLeftPanel("Боковое меню", "aside-menu.html")
				+linkLeftPanel("Title block", "lk-title-block.html")
				+linkLeftPanel("Панель меню с иконками(внизу)", "lk-bottom-menu.html")
				+linkLeftPanel("Индикатор в таблице", "lk-table-indicator.html")
				+linkLeftPanel("Выпадающее меню в таблице", "vacancies__table-dropdown.html")
				+linkLeftPanel("Превью блок - шапка", "preview-header.html")
				

		.left-panel__section
			p.strong Блоки - Резюме
			.left-panel-nav

				+linkLeftPanel("Карточка Должность", "resume__position-card.html")
				+linkLeftPanel("Секция Опыт работы", "resume__section-experience-work.html")
				+linkLeftPanel("Карточка Образование", "resume__education-card.html")
				+linkLeftPanel("Секция Образование", "resume__section-education.html")
				+linkLeftPanel("Title-block", "resume__title-block.html")
				+linkLeftPanel("Секция Другое", "resume__other.html")
				+linkLeftPanel("Навыки и знания", "resume__skills.html")
				+linkLeftPanel("Блок с тегами", "resume__tags-block.html")
				+linkLeftPanel("Портфолио", "resume__portfolio-slider.html")
				+linkLeftPanel("Просмотр контактов", "resume__view-contacts.html")
				+linkLeftPanel("Показать контакты", "resume__show-contacts.html")
				+linkLeftPanel("Respond блок с кнопкой скачать", "respond-block-resume.html")
				+linkLeftPanel("Панель откликнувшегося кандидата", "resume__responding-panel.html")
				+linkLeftPanel("Сохранить в футере", "resume__footer.html")

		.left-panel__section
			p.strong Блоки - Поиск резюме
			.left-panel-nav
				+linkLeftPanel("Фильтр боковой", "search-resume__filter.html")
				+linkLeftPanel("Фильтр резюме", "filter-resumes.html")
				+linkLeftPanel("Block", "search-resume__block.html")
				+linkLeftPanel("Шапка в Просмотр Резюме", "search-resume__view-resume-header.html")
				+linkLeftPanel("Заголовок страницы", "search-resume__title.html")
				+linkLeftPanel("Описание резюме", "search-resume__header-tabs.html")
				+linkLeftPanel("Карточка резюме", "search-resume__resume-card.html")
				+linkLeftPanel("Сохранить резюме, Предложить вакансию", "save-suggest-resume.html")
		

		.left-panel__section
			p.strong Блоки - Отклинуться на вакансию (Apply)
			.left-panel-nav
				+linkLeftPanel("Заголовок с табами", "apply__header.html")
				+linkLeftPanel("Таб выбрать резюме", "apply__tab-choose.html")
				+linkLeftPanel("Таб загрузить резюме", "apply__tab-download.html")
				+linkLeftPanel("Сообщение об отправке резюме", "apply__notify.html")


		.left-panel__section
			p.strong Блоки - Отрасли и Компании (Areas and Companies)
			.left-panel-nav
				+linkLeftPanel("Блок с алфавитом", "areas-companies__alphabet.html")
				+linkLeftPanel("Блок под шапкой", "areas-companies__title-block.html")
				+linkLeftPanel("VIP компания", "companies__vip-company.html")
				+linkLeftPanel("Слайдер VIP компании", "companies__slider.html")
				+linkLeftPanel("Блок с бейджами", "areas__badges-block.html")
				+linkLeftPanel("Контент таб Отрасли", "areas__tabs-areas.html")
				+linkLeftPanel("Отрасли/Компании. Блок. Список", "areas-companies__list.html")
				

		.left-panel__section
			p.strong Блоки - Job opening
			.left-panel-nav
				+linkLeftPanel("Заголовок о компании", "job__heading.html")
				+linkLeftPanel("Секция О компании", "job__about-company.html")
				+linkLeftPanel("Блок под шапкой", "job__title-block.html")
				+linkLeftPanel("Описание позиции", "job__description-block.html")
				+linkLeftPanel("Блок Бэйджи", "job-badges.html")
				+linkLeftPanel("Карточка похожие вакансии", "job__vacancy-card.html")
				+linkLeftPanel("Секция карточек вакансий", "job__section-vacancy-cards.html")
				+linkLeftPanel('Блок с кнопкой "Откликнуться"', "respond-block.html")

				
		.left-panel__section
			p.strong Блоки - Search Results
			.left-panel-nav
				+linkLeftPanel("Выпадающий список", "dropdown.html")
				+linkLeftPanel("Карточка вакансии", "vacance-card.html")
				+linkLeftPanel("Выпадающее меню из логотипа", "main-menu.html")
				+linkLeftPanel("Фильтр вакансий", "filter-vacancies.html")
				+linkLeftPanel("Фильтр вакансий - отрасли", "filter-vacancies-sectors.html")
				+linkLeftPanel("Блок под шапкой", "title-block.html")
				+linkLeftPanel("Описание вакансии", "vacance-description.html")
				+linkLeftPanel("Социальные иконки - стр Авторизация, Регистрация", "social-icons.html")
				+linkLeftPanel("Уведомления", "notifications.html")
				+linkLeftPanel("Выбор города", "city-selection.html")

		.left-panel__section
			p.strong Блоки - Company
			.left-panel-nav
				+linkLeftPanel("Аватар + информация", "avatar-block.html")
				+linkLeftPanel("Контактное лицо", "contact-person.html")
				+linkLeftPanel("Баннер инфо о компании", "company-banner.html")
				+linkLeftPanel("Rating - Оценка (91/100)", "rating-mark.html")
				+linkLeftPanel("Rating - Like/Dislike", "rating-like.html")
				+linkLeftPanel("Rating - Stars", "rating-stars.html")
				+linkLeftPanel("Отзыв", "company-review.html")
				+linkLeftPanel("Отзыв о компании", "feedback-company.html")
				+linkLeftPanel("Блок отзывов", "block-company-reviews.html")
				+linkLeftPanel("Блок с отзывом для рейтинга", "rating-block.html")
				+linkLeftPanel("Рейтинг", "rating.html")
				+linkLeftPanel("Карточка вакансии", "company-vacancy-card.html")
				+linkLeftPanel("Вакансии компании в текущем регионе", "company-vacancies-current-region.html")
				+linkLeftPanel("Таб Вакансии - середина", "company-tab-vacancy.html")
				+linkLeftPanel("Таб Отзывы - середина", "company-tab-reviews.html")
				+linkLeftPanel("Таб Описание - середина", "company-tab-about.html")
				+linkLeftPanel("О компании", "company-about.html")
				+linkLeftPanel("Company - Модальное окно", "company-modal.html")

		.left-panel__section
			p.strong Блоки - Авторизация
			.left-panel-nav
				+linkLeftPanel("Авторизация - форма", "authorize-form.html")

		.left-panel__section
			p.strong Блоки - Регистрация
			.left-panel-nav
				+linkLeftPanel("Регистрация - форма", "registration-form.html")
				+linkLeftPanel("Регистрация через соцсети - середина", "registration-social.html")
				+linkLeftPanel("Регистрация по номеру телефона - середина", "registration-phone.html")
		.left-panel__section
			p.strong Блоки - Восстановление пароля
			.left-panel-nav
				+linkLeftPanel("Восстановление пароля по email- середина", "recover-password-email.html")
				+linkLeftPanel("Социальные иконки-стр Авторизация", "social-icons.html")
				+linkLeftPanel("Яндекс карта", "yandex-map.html")

		.left-panel__section
			p.strong Секции
			.left-panel-nav
				+linkLeftPanel("Шапки миксин", "header-user-panel.html")
				+linkLeftPanel("Футер", "footer.html")
				+linkLeftPanel("Подписка", "subscribe.html")
				+linkLeftPanel("Описание вакансии", "vacance-description.html")
				+linkLeftPanel("Средняя часть - Карта", "middle-map.html")


		.left-panel__section
			p.strong Страницы
			.left-panel-nav
				+linkLeftPanel("Избранное", "../favourites.html")
				+linkLeftPanel("Кандидаты", "../candidates.html")
				+linkLeftPanel("Вакансии", "../vacancies.html")
				+linkLeftPanel("Резюме", "../resume.html")
				+linkLeftPanel("Резюме с откликом", "../resume-replied.html")
				+linkLeftPanel("Поиск резюме", "../search-resume.html")
				+linkLeftPanel("Откликнуться на вакансию", "../apply.html")
				+linkLeftPanel("Города", "../cities.html")
				+linkLeftPanel("Отрасли", "../areas.html")
				+linkLeftPanel("Компании", "../companies.html")
				+linkLeftPanel("О компании", "../company.html")
				+linkLeftPanel("Описание вакансии (Job opening)", "../job.html")
				+linkLeftPanel("Главная", "../main.html")
				+linkLeftPanel("Search results", "../search-results.html")
				+linkLeftPanel("Search results-aside", "../search-results-aside.html")
				+linkLeftPanel("Страница авторизации", "../auth-autorization.html")
				+linkLeftPanel("Страница регистрации", "../auth-registration.html")
				+linkLeftPanel("Страница восстановления пароля", "../auth-recovery-password.html")
				+linkLeftPanel("Страница сброса пароля (email)", "../auth-recovery-password-reset.html")
				+linkLeftPanel("Страница сброса пароля (телефон)", "../auth-recovery-password-reset-phone.html")
				+linkLeftPanel("Страница создания пароля", "../auth-password-create.html")
				+linkLeftPanel("Регистрация через социальные сети", "../auth-registration-social.html")

#ui-nav-toggle Скрыть/Показать навигацию
