.areas-companies__list-header {
	line-height: 21px;
	font-size: 18px;
	font-weight: 700;
	color: $basicText;
}
.areas-companies__list-item {
	 padding-bottom: 16px;
}
.areas-companies__list-title {
	line-height: 21px;
	font-size: 18px;
	color: $black;
}
.areas-companies__more {
	line-height: 21px;
	font-size: 18px;
	color: $link;
}