.bg-vip-company {
	width: 200px;
	height: 200px;
	display: block;
	font-size: 16px;
	color:$black;
	line-height: 1.3;
	
	background: $white;
	box-shadow: 0px 2px 6px $silver;
	border-radius: 8px;
	padding:24px;
}
.bg-vip-company:hover {
	color: $black;
}
.vip-company__image {
	width: 152px;
	height: 84px;
	// margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.vip-company__rating {
	margin-bottom: 4px;
	// margin-top: -20px;
}

.companies-slider {display: flex;}

.companies-slider__item {
	padding-right: 16px;

	&:last-child{padding-right: 0;}	
}
