.small-dropdown-menu{
  padding: 16px;
  width: 228px;
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0px 0px 15px 0px $bg-shadow;
  background-color: $white;
}
.small-dropdown-menu-item{
  display: block;
  font-size: 18px;
  line-height: 21px;
  padding-top: 13px;
  padding-bottom: 13px;  
  background-color: $white;
  color: $black;
}

.small-dropdown-menu-item:hover{
  color: $textHover;
  text-decoration: none;
}
.small-dropdown-menu-item:nth-last-child(2){
  margin-bottom: 16px;
}

