.vacance-card {
	position: relative;
	padding-top:16px;
	padding-bottom: 16px;
	border-bottom: 1px solid $silverLight;
	min-height: 115px;
	height: 100%;
	& .icon-favorite{text-align: right;}
}

.vacance-card--list {
	//position: relative;
	padding-bottom: 7px;
	@media #{$sm} {padding-right: 16px;}
	@media #{$md} {min-height: 118px;}
	@media #{$hd} {padding-right: 32px;} 
	
}

.vacance-card--no-border{
	border-bottom: none;
}

.vacance-card__flex-block{
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	margin-bottom: 4px;
	
}
.vacance-card__flex-block--nowrap{flex-wrap: nowrap;}
.vacance-card__badge-block{
	display: flex;
	overflow: hidden;
	padding-right: 60px;
	@media #{$hd}{padding-right: 76px;}
}
.vacance-card .badge-group{
	//-height: 21px;
	height: 24px;
	overflow: hidden;
	padding-right: 60px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: none;
	@media #{$md}{
		display: flex;
		flex-wrap: wrap;
	}	
}
.badge-group--big{height: 24px;}
.vacance-card__flex-block--grid .badge-group{
	padding-right: 60px;
	@media #{$md}{padding-right: 70px;}
	@media #{$hd}{padding-right: 76px;}
		
}
.vacance-card__breadcrumb{
	margin: 0;
	padding: 3px 0;	
	display: flex;
	white-space: nowrap;
	
	& .breadcrumb-item-link{
		font-size: 14px;
	}
	& .breadcrumb-item-link:hover{
		color: $linkHover;
		text-decoration: none;
	}
}

.vacance-card .icon-favorite{
	padding-bottom: 4px;
	cursor:pointer;
	margin-right: 0;
}

.vacance-card__salary{
	color:$black;
	display:block;
	margin-right: 16px;
	@media #{$sm}{
		display:inline-block;
	}
}
.vacance-card__salary--mb{
	margin-bottom: 4px;
	@media #{$md}{margin-bottom: 0px;}
}

.split-text.split-text--card {
	margin-bottom: 4px;
	@media #{$md}{margin-bottom: 0px;}
}
.vacance-card--vip-badge{}
.vacance-card__title{
  font-size: 18px;
  font-weight: 700;
  color: $basicText;
  margin: 0;
  padding: 0;	
  flex-grow:3;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
}
.vacance-card__title-link{	
	color:$basicText;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	 display: block;
}
.vacance-card__title-link:hover{
	text-decoration: none;
	color:$linkHover !important;
}
.vacance-card__title-link:active{
	text-decoration: none;
	color:$linkPressed;
}
.vacance-card-date{
	margin-right: 13px;
	font-size: 12px;
	color: $greyText;
		@media #{$sm}{margin-right: 20px;}
}


.vacance-card__address{
	display: flex;
	align-items:center;
	white-space: nowrap;
}

.vacance-card__flex-block--special{
	display: block;
	@media #{$md}{
		margin-bottom: 4px;
		display: flex;
		& .vacance-card__breadcrumb--list{
			padding-bottom: 0;
		}
	}
}
.address-badge{margin-right: 16px;}
.badge-group-item:not(:last-child){margin-right:8px;}

.vacance-card .round-icon{
	position: absolute;
	right: 16px;
	bottom: 16px;
	min-width: 40px;
	min-height: 40px;
	display: block;
}
/*grid*/
.vacance-card--grid{
	min-height: 128px;
	position: relative;	
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	padding: 12px 16px 16px;
	background-color: $white;
	transition:0.2s all;

	@media #{$md}{min-height: 161px;}

	&:hover {
		box-shadow: none;
		transform: translateY(2px);
		box-shadow:0 0px 0px 1px rgba(0, 0, 0, 0.05)
	}
	.badge-group{height: 21px;}
}
.vacance-card--grid .vacance-card__flex-block{
	margin-bottom: 0; 

}
.vacance-card__flex-block--grid{
	display: block;
	& .badge-group{margin-top: 8px;}
}

.vacance-card__text--grid{margin-right: 60px;}
.vacance-card__flex-block-column{
	display: flex;
	align-items: center;
	margin-right: 16px;
	& .vip-badge{margin-left: 0;}
}
/*vip-badges styles*/
.vip-badge-grid--yellow,
.vip-badge--yellow{
	margin-left: 16px;
	background-color: $vip;
	color: $black;
	&:hover{
		text-decoration: none;
		opacity: 0.8;
	}
}
.vip-badge-grid--green,
.vip-badge--green{
	margin-left: 16px;
	background-color: $greenBadge;
	color: $white;
	&:hover{
		text-decoration: none;
		color: $white;
		opacity: 0.8;
	}
}
/*рисуем левый бордер для вип карты на отображении grig*/
.vacance-card-border--yellow::before{border-left: 3px solid $vip;}	
.vacance-card-border--yellow{border-left: 3px solid $vip;}
.vacance-card-border--green{border-left: 3px solid $greenBadge;}

.vacance-card-border--green::before {
	border-top-left-radius:0px;
	border-bottom-left-radius: 0px;
	border-left: 3px solid $greenBadge;
}
.vacance-card .round-icon.round-icon--card{	
	display: none;
	@media #{$md}{
		display: block;
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
	@media #{$hd} {right: 32px;}
}
.vacance-card--grid .round-icon.round-icon--card{
	@media #{$hd} {right: 16px;}
}
.vacance-card--list .icon-favorite{
	//-@media #{$xl} {right: 32px;}
}