//--- Чекбоксы ---//
mixin checkbox(text,size, color, textClass) 
	label.check-box__label&attributes(attributes)
		input.check-box(type='checkbox')
		if color != '' && color != undefined
			span.custom-check-box(class="custom-check-box--" + color + " custom-check-box--" + size)
		else
			span.custom-check-box(class="custom-check-box--" + size)
		span(class="custom-check-box__label " + textClass) #{text}
-;

mixin checkbox-reverse(text,size, color)
	label.check-box__label&attributes(attributes)
		input.check-box(type='checkbox')
		span.custom-check-box__label.custom-check-box__label--no-margin.custom-check-box__label--margin-right #{text}
		if color != '' && color != undefined
			span.custom-check-box(class="custom-check-box--" + color + " custom-check-box--" + size)
		else
			span.custom-check-box(class="custom-check-box--" + size)

-;
mixin checkbox-simple-big(color)
	label.check-box__label&attributes(attributes)
		input.check-box(type='checkbox')
		if color != '' && color != undefined
			span.custom-check-box(class="custom-check-box--" + color + " custom-check-box--big")
		else
			span.custom-check-box(class="custom-check-box--big")

-;
mixin checkbox-simple-small(color)
	label.check-box__label&attributes(attributes)
		input.check-box(type='checkbox')
		if color != '' && color != undefined
			span.custom-check-box(class="custom-check-box--" + color + " custom-check-box--small")
		else
			span.custom-check-box(class="custom-check-box--small")
