include ../mixins/_buttons.pug
include ../mixins/_links.pug
include ../mixins/_mixins.pug
include ../mixins/_checkbox.pug
include ../mixins/_pagination.pug
include ../mixins/_breadcrumb.pug
include ../mixins/_icons-svg.pug
include ../mixins/_vacance-card.pug
include ../mixins/_authorize-header.pug
include ../mixins/_inputs.pug
include ../mixins/_badges.pug
include ../mixins/_subscribe.pug
include ../mixins/_dropdown.pug
include ../mixins/_page-header.pug
include ../mixins/_company-review.pug
include ../mixins/_avatar-block.pug
include ../mixins/_rating.pug
include ../mixins/_company-banner.pug
include ../mixins/_avatar-block.pug
include ../mixins/_rating.pug
include ../mixins/_company-review.pug
include ../mixins/_modal-window.pug
include ../mixins/_respond-block.pug
include ../mixins/_filter-vacancies-sectors.pug
include ../mixins/_job__company-heading.pug
include ../mixins/_city-selection.pug
include ../mixins/_job-company-list.pug
include ../mixins/_resume-card.pug
include ../mixins/_progress-bar.pug
include ../mixins/_company-modal.pug
include ../mixins/_areas-companies__alphabet.pug
include ../mixins/_areas-companies__list.pug
include ../mixins/_resume__position-card.pug
include ../mixins/_resume-description__header.pug
include ../mixins/_resume__education-card.pug
include ../mixins/_resume__skills.pug
include ../mixins/_resume__portfolio.pug
include ../mixins/_resume__view-contacts.pug
include ../mixins/_preview-title-block.pug
include ../mixins/_vacancies__mixins.pug
include ../mixins/_lk-title-block.pug
include ../mixins/_aside-menu.pug
include ../mixins/_table.pug

