script(src="../libs/jquery/jquery.min.js")
script(src="../libs/jquery.nicescroll.js")

block scripts

script(src="../js/main.js")
script(src="../js/input.js")
script(src="../js/autocomplete.js")
script(src="../js/title-block.js")
script(src="../js/main-menu.js")
script(src="../js/pagination.js")
script(src="../js/filter-vacancies.js")
script(src="../js/filter-vacancies-sectors.js")
script(src="../js/vacance-description.js")
script(src="../js/vacance-card.js")
script(src="../js/middle-map.js")
script(src="../js/header.js")
script(src="../js/authorize-form.js")
script(src="../js/dropdown.js")
script(src="../js/company.js")
script(src="../js/company-review.js")
script(src="../js/modal-window.js")
script(src="../js/company-modal.js")

script(src="../js/section-footer-dropdown.js")
script(src="../js/job__description-block.js")
script(src="../js/city-selection.js")
script(src="../js/job.js")
script(src="../js/areas.js")
script(src="../js/companies.js")
script(src="../js/apply.js")
script(src="../js/search-resume.js")
script(src="../js/lightbox.js")
script(src="../js/resume.js")
script(src="../js/vacancies-tab-service.js")
script(src="../js/aside-menu.js")
script(src="../js/table.js")
script(src="../js/preview-header-dropdown.js")
script(src="../js/dropdown-select.js")
script(src="../js/candidates.js")


script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
