extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Таб загрузить резюме Apply';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Таб загрузить резюме Apply
		.section-ui
			include ../../sections/_apply-tab-choose.pug
		pre.
			include ../../sections/_apply-tab-choose.pug
