extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Areas - блок с бейджами';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
				
		.section-ui
			.title Areas - блок с бейджами
		.section-ui
			include ../../sections/_areas__badges-block.pug
		pre.
			include ../../sections/_areas__badges-block.pug