extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Поиск (autocomplete) - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Поиск (autocomplete)
		
		.section-ui
			include ../../sections/_autocomplete.pug
		pre.
			include ../../sections/_autocomplete.pug
