extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'О компании - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Блок - О компании

		include ../../sections/_company-about.pug
		
		pre include ../../sections/_company-about.pug
