extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Середина таб Отзывы';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Середина таб Отзывы
		.container
			include ../../sections/_company-tab-reviews.pug
		pre.
			include ../../sections/_company-tab-reviews.pug
				