extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Блок "Контактное лицо"';
	- var pageClass = 'body--dashboard';

block content
		.container.container--left
		.title Блок "Контактное лицо"	
		
		.section-ui
			include ../../sections/_contact-person.pug
		pre.
			include ../../sections/_contact-person.pug

