extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Job - описание позиции - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.title Job - описание позиции
		
		.section-ui
			include ../../sections/_job__description-block.pug

					
		.section-ui
			
			p Подключение:
			pre.
				include ../../sections/_job__description-block.pug
			
			p Код:
			pre.
				.job-description-wrapper
					.job-description__about#job-description
						p.
							Wrike – американская компания со штаб-квартирой в Калифорнии, разрабатывающая одноимённый продукт для управления проектами и совместной работы. Мы создали один из лучших инструментов, который позволяет не только планировать задачи, но и успешно работать в команде. У нас 6 офисов (головной в Калифорнии), 17 000+ клиентов (Adobe, AirBnb, Western Union, Kaspersky Lab, Fitbit, Hootsuite) и 600+ сотрудников по всему миру. У нас большие планы, и нам нужны классные ребята.

						p.
							Мы ищем опытного продуктового дизайнера, специализирующегося на мобильных интерфейсах, для работы над нашим мобильным приложением в единственном лице. Мы ожидаем, что наш новый коллега будет создавать выдающийся UX-дизайн, опираясь на свое понимание стратегии развития продукта, а также на исследования пользователей, проводимые вместе с менеджером продукта и аналитиками.

					.job-description__functions
						.job-description__block-title Обязанности
						ul.job-description__functions-list
							li.job-description__functions-list-item.
								Напрямую общаться с пользователями продукта, изучать их потребности и находить возможности для решения их практических задач.
							li.job-description__functions-list-item.
								Напрямую общаться с пользователями продукта, изучать их потребности и находить возможности для решения их практических задач.
							li.job-description__functions-list-item.
								Изучать конкурентов, исследовать рынок аналогичных приложений и отражать полученные знания в дизайне.
							li.job-description__functions-list-item.
								Создавать концепции новых дизайн-решений и реализовывать их в макетах и интерактивных прототипах.
							li.job-description__functions-list-item.
								Тестировать дизайн-решения на пользователях.
							li.job-description__functions-list-item.
								Принимать участие в планировании структурированных экспериментов для проверки идей.
							li.job-description__functions-list-item.
								Совместно с дизайнерами других команд продумывать слаженный опыт взаимодействия пользователя с продуктом в разных местах (веб-интерфейс, мобильный интерфейс, e-mail уведомления, интеграции с другими продуктами).
							li.job-description__functions-list-item.
								Создавать детальные спецификации интерфейсов и тесно работать с разработчиками для воплощения их в жизнь.

					.job-description__skills
						.job-description__block-title Навыки
						.job-description__skills-item
							+badge--big('Figma')
						.job-description__skills-item
							+badge--big('Figma')
						.job-description__skills-item
							+badge--big('Figma')

					.job-description__location#job-location
						.job-description__block-title Адрес
						.job-description__location-address Свердловская набережная, 44Д, Санкт-Петербург
						.job-description__location-badge
							+color-marker('red')
							+address-badge('Пл. Ленина' ,'3км')(class="address-badge--font")
						
						.job-description__location-map#jobMap
					
				