extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Описание вакансии -Шапка';
	- var pageClass = 'body--dashboard';
	
block content
	.container.container--left.theme--employer
		.title Описание вакансии-Шапка
		
		include ../../sections/_preview-header.pug
		pre.
			include ../../sections/_preview-header.pug