extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Восстановление пароля по email -середина';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
	.section-ui
		.title-4.text-left блок 1
		.recover-block.recover-block--email
			.recover-block-text.text-body Введите электронную почту или номер телефона указанный при регистрации.
			.input-wrapper
				+inputField('input-email', 'text', 'input-email', 'email', 'Электронная почта или номер телефона', 'Не найдено аккаунтов связанных с указанной электронной почтой')
			+button('Восстановить пароль', '#', 'btn-semi-rounded-blue').recover-block-btn
	pre.
		.recover-block.recover-block--email
			.recover-block-text.text-body Введите электронную почту или номер телефона указанный при регистрации.
			.input-wrapper
				+inputField('input-email', 'text', 'input-email', 'email', 'Электронная почта или номер телефона', 'Не найдено аккаунтов связанных с указанной электронной почтой')
			+button('Восстановить пароль', '#', 'btn-semi-rounded-blue').recover-block-btn
	.section-ui
		.title-4.text-left блок 2
		.recover-block.recover-block--email
			.recover-block-text.text-body.mb-0.
				 Ссылка на сброс пароля отправлена. Пожалуйста, проверьте свою почту, чтобы продолжить.
			+button('Вернуться на страницу входа', '#', 'btn-semi-rounded-blue').recover-block-btn
	pre.
		.recover-block.recover-block--email
			.recover-block-text.text-body.mb-0.
				 Ссылка на сброс пароля отправлена. Пожалуйста, проверьте свою почту, чтобы продолжить.
			+button('Вернуться на страницу входа', '#', 'btn-semi-rounded-blue').recover-block-btn
	.section-ui
		.title-4.text-left блок 3
		.recover-block.recover-block--email
			.recover-block-text.text-body.
				 Придумайте новый пароль для входа в личный кабинет
			.form-block
				form.authorization-form(action="" method="")
					.input-wrapper.mb-15
						+inputField('input-new-pass', 'password', 'input-new-pass', 'checkField', 'Введите новый пароль', 'Вы ничего не ввели')
						.icon-eye.icon-eye--show
							+icon-eye
					.input-wrapper
						+inputField('input-pass', 'password', 'input-pass', 'pass', 'Повторите пароль', 'Пароль введен неверно')
						+icon-eye(class="icon-eye--show")
							
			+button('Создать новый пароль', '#', 'btn-semi-rounded-blue').mt-20
	pre.
		include ../sections/_password-create.pug