extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Регистрация через соцсети -середина';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
	.section-ui
		.title-5 Регистрация через соцсети -середина
		include ./../../sections/_registration-social.pug
	pre.
		include ./../../sections/_registration-social.pug
