extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Секция Образование ';
	- var pageClass = 'body--dashboard';

	
block content
	
		.title Секция Образование
		
		.seciont-ui
			include ../../sections/_resume__section-education.pug
		pre.
			include ../../sections/_resume__section-education.pug