extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Секция Опыт работы ';
	- var pageClass = 'body--dashboard';

	
block content
	
		.title Секция Опыт работы
		
		.seciont-ui
			include ../../sections/_resume__section-experience-work.pug
		pre.
			include ../../sections/_resume__section-experience-work.pug