extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Страница Поиск Резюме - Заголовок страницы';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Страница Поиск Резюме - Заголовок страницы
		
		.section-ui
			include ./../../sections/_search-resume__title.pug
		pre.
			include ./../../sections/_search-resume__title.pug