extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Страница Авторизация-социальные иконки';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Страница Авторизация-социальные иконки
		
		.section-ui
			include ../../sections/_social-icons.pug
		pre.
			include ../sections/_social-icons.pug