extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Таблица ';
	- var pageClass = 'body--dashboard';
	

	- var rowItemHeader = {modif: 'table-item--header', itemId:'id', itemTitle:'Название', cityName:'Город', date:'Дата', itemStatus:'Статус',  itemResume: 'Резюме', itemRecruiter:'Рекрутер',  itemIndicator:'Статистика'};

	- var rowItem1 = {modif: '', itemId:'50086', itemTitle:'Fullstack Developer Ruby/React', cityName:'Санкт-Петербург', date:'19.10.18, 20:37', itemStatus:'Открыто',  itemResume:{ param1:'589',param2:'9' }, itemRecruiter:'Рейнхард Олафсен', actionIcons:[	{toolData:{type:'bottom', text:'Обновить'}, icName:'ic-refresh', icParam: 'width:16px; height:16px;'},{toolData:{type:'bottom', text:'Копировать'}, icName:'ic_copy', icParam: 'width:19px; height:22px;'},{toolData:{type:'bottom', text:'Снять с публикации'}, icName:'ic-eye', icParam: 'width:24px; height:18px;'},{toolData:{type:'bottom', text:'Повысить эффективность'}, icName:'icon-star-custom', icParam: 'width:20px; height:20px;'}], itemIndicator:{tooltype:'top',tooltext:'08 Декабря 2018.Просмотры: 21, Отклики: 16', value: [{param1:'height:35px',param2:'height:25px'},{param1:'height:25px',param2:'height:20px'},{param1:'height:35px',param2:'height:15px'},{param1:'height:35px',param2:'height:25px'},{param1:'height:15px',param2:'height:10px'},{param1:'height:25px',param2:'height:15px'},{param1:'height:15px',param2:'height:5px'}]}, dropdownIcons:[{boxModif: '', icName:'ic_copy', icParam:'width:24px; height:24px;', icText:'Дублировать'},{boxModif: 'icon-star', icName:'icon-star-custom', icParam:'width:24px; height:24px;', icText:'Повысить эффективность'}, {boxModif: '', icName:'icon-looks-two', icParam:'width:24px; height:24px;', icText:'Найти похожие резюме'},{boxModif: '', icName:'ic-refresh', icParam:'width:24px; height:24px;', icText:'Обновить'},{boxModif: '', icName:'ic-eye', icParam:'width:24px; height:24px;', icText:'В архив'}]};

	
block content

	.container.container--left
		.ui-section.theme--employer.lk-content-container

			include ../../sections/_table.pug
			
		pre.
			include ../../sections/_table.pug