extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Вакансии.Таб Услуги. Карточка';
	- var pageClass = 'body--dashboard';

block content

	.container.container--left
		.ui-section
			.title Вакансии.Таб Услуги. Карточка

			+service-card('ic_free', 'Обычное размещение', 'Бесплатно', 'Вакансия размещается на 30 дней','' )

			+service-card('ic-refresh--custom', 'Автообновление вакансии', '150 руб в неделю', 'Автоматическое обновление даты публикации каждые 4 часа поднимает ваше резюме вверх .','Еще' )
			+service-card('ic_flame--custom','Срочная вакансия', '500 руб разово', 'Вакансия размещается вначале результатов поиска. Выделяется пометкой «Срочная». Размещается на 7','' )
			+service-card('ic_mask--custom', 'Срочная вакансия', '500 руб разово', 'Вакансия размещается вначале результатов поиска по ключевым словам в выбранной отрасли.','' )
		pre.
			+service-card('ic_free', 'Обычное размещение', 'Бесплатно', 'Вакансия размещается на 30 дней','' )

			+service-card('ic-refresh--custom', 'Автообновление вакансии', '150 руб в неделю', 'Автоматическое обновление даты публикации каждые 4 часа поднимает ваше резюме вверх .','Еще' )
			+service-card('ic_flame--custom','Срочная вакансия', '500 руб разово', 'Вакансия размещается вначале результатов поиска. Выделяется пометкой «Срочная». Размещается на 7','' )
			+service-card('ic_mask--custom', 'Срочная вакансия', '500 руб разово', 'Вакансия размещается вначале результатов поиска по ключевым словам в выбранной отрасли.','' )
